@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";
@plugin "daisyui"
 {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 };

 @plugin "daisyui/theme"{
  name: "light";
  default: true;
  --color-primary: #403f3f;
  --color-secondary: #d72050;
  --color-base-200: #f3f3f3;
  --color-base-300: #e7e7e7;
  --color-accent: #706f6f;
}
*{
  font-family: "Poppins", sans-serif;
}
a.active{
  @apply bg-base-300;
}

/* .ticker-track {
  display: flex;
  width: max-content;
  animation: ticker 20s linear infinite;
  -webkit-animation: ticker 20s linear infinite;
}

.ticker-text {
  padding-right: 80px;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.ticker-wrapper{
  width:100%;
  overflow:hidden;
  background:#ecc499;
  box-shadow:0 2px 6px rgba(0,0,0,0.1);
  padding:8px 0;
  border-radius:6px;
}

.ticker{
  display:inline-flex;
  white-space:nowrap;
  animation: scroll 25s linear infinite;
}

.ticker span{
  padding-right:120px;
  font-size:18px;
  font-weight:500;
}

@keyframes scroll{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-50%);
  }
} */